<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="com.android.systemui" />
        <package android:name="com.oplus.pscanvas" />
        <package android:name="com.coloros.smartsidebar" />
        <package android:name="com.oplus.securitypermission" />
        <package android:name="com.oplus.pantanal.ums" />
        <package android:name="com.oplus.athena" />
        <provider android:authorities="com.oplus.card.server.systemui.provider" />
        <provider android:authorities="com.oplusos.provider.SeedlingServiceProvider" />
    </queries>

    <application
        android:name=".LauncherStabilityApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.App">

        <activity
            android:name=".ui.LauncherStabilityActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:authorities="${applicationId}.XposedService"
            android:exported="true" />
    </application>
</manifest>
